.hero {
  margin: 0px;
  margin-top: 30px;
}
.hero__info > h1,
p {
  width: 60%;
}
.hero__info > h1 {
  font-size: 3rem;
}
@media (max-width: 800px) {
  .hero__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
