.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  flex-wrap: wrap;
  margin: auto !important;
}
.testimonial {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 20px;
  box-shadow: 0 0 20px 5px lightgray;
  border-radius: 10px;
  margin: 10px 10px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.testimonial__info {
  display: flex;
  align-items: center;
}
.testimonial__icon {
  object-fit: contain;
  width: 50px;
  border-radius: 50%;
}
.testimonial__infoHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trainers {
  width: 100%;
}
@media (max-width: 800px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    /* flex-wrap: wrap; */
    margin: auto !important;
  }
  .testimonial {
    width: 100%;
    margin: 10px 0px;
  }
}
